
    // Colores principales
$color-text-primary: #000000; // Negro
$color-text-secondary: #2c2c2c; // Gris oscuro (hex code aproximado)
$color-text-accent: #1a1a40; // Azul marino (hex code aproximado)
$color-text-white : #ffffff; // Blanco 


$color-bg-primary: #000000; // Negro
$color-bg-secondary: #2c2c2c; // Gris oscuro (hex code aproximado)
$color-bg-accent: #1a1a40; // Azul marino (hex code aproximado)
$color-bg-white : #ffffff;
$color-bg-white-01:#ecf0f1;

// Colores de acento
$color-accent-primary: #d4af37; // Dorado
$color-accent-secondary: #800020; // Burdeos
